 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
              <b> <font size = "4"> Hello there! as you might have guessed by now my name is Prakhar Pandey. I am an undergraduate student at Indian Institute of Technology Roorkee, pursuing my bachelors in Computer Science. Himalayas are my second abode, they have mesmerised me ever since I came to my undergrad college. I also swim sometimes (like in summers for two months) , but the one think that you can be sure about me is first my love for mountains and second my ravenousness for reading. You can find me reading almost at any time, anywhere.</font></b>

            </div>
            <br>
            <div class="row">
               <b><font size = "4">I have been studying Machine Learning for a while now, I am interested in its application in field of Natural Language Processing, Information Retrieval and Cognitive Sciences. Deep Learning is something that I recently tried and was immediately impressed by Word2Vec,GloVe etc. One of the other fields I am interested is in analysis of social network and how they effect decisions of the individuals who are part of it. My ultimate goal is to build an intelligent system which can capture the entire spectrum of emotions which are conveyed by a single line, gesture, or spoken words.</font></b>
            </div>
        </div>
    </section>