 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hey there! I am an Computer Science undergraduate student at IIT Roorkee, India. Most of the time you can find me reading a book or trekking since I am a nature lover, other times I might be found in a pool</p>
                </div>
                <div class="col-lg-4">
                    <p>Academically I have been inspired by Machine Learning and its prospects. Currently I am exploring the fields of Natural Language Processing and Deep Learning together and how efficiemt word vector representation can be found</p>
                </div>
            </div>
        </div>
    </section>