 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
              <b> <font size = "4"> Hi welcome to my page I am Prakhar Pandey. I am a Data Scientist at Teradata. I completed my masters in Computer Science at UCSD. I finished my bachelors in Computer Science from IIT Roorkee. Himalayas are my second abode, they have mesmerised me ever since I came to my undergrad college. I also swim (like in summers for two months) , but the two things that you can be sure about me is, first my love for mountains and second my passion for reading. You can find me reading almost at any time, anywhere.</font></b>

            </div>
            <br>
            <div class="row">
               <b><font size = "4">I have been studying Machine Learning for a while now, I am interested in its application in field of Natural Language Processing, Information Retrieval and Cognitive Sciences.I have also explored Deep Learning and was immediately impressed by the applications of word embeddings in classical NLP tasks. One of the other fields I am interested in is analysis of social network and how they effect decisions of the individuals who are part of it. My goal is to build an intelligent system which can capture the entire spectrum of emotions which are conveyed by a single line, gesture, or spoken words.</font></b>
            </div>
        </div>
    </section>
